@font-face {
  font-family: "Computer Modern Serif";
  src: url("cmunrm.eot");
  src: url("cmunrm.eot?#iefix") format("embedded-opentype"),
    url("cmunrm.woff") format("woff"), url("cmunrm.ttf") format("truetype"),
    url("cmunrm.svg#cmunrm") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("cmunbx.eot");
  src: url("cmunbx.eot?#iefix") format("embedded-opentype"),
    url("cmunbx.woff") format("woff"), url("cmunbx.ttf") format("truetype"),
    url("cmunbx.svg#cmunbx") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("cmunti.eot");
  src: url("cmunti.eot?#iefix") format("embedded-opentype"),
    url("cmunti.woff") format("woff"), url("cmunti.ttf") format("truetype"),
    url("cmunti.svg#cmunti") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("cmunbi.eot");
  src: url("cmunbi.eot?#iefix") format("embedded-opentype"),
    url("cmunbi.woff") format("woff"), url("cmunbi.ttf") format("truetype"),
    url("cmunbi.svg#cmunbi") format("svg");
  font-weight: bold;
  font-style: italic;
}

body {
  background-image: radial-gradient(93.42% 168.16% at 104.62% -5.14%, #FBFF35 0%, #FFFFFF 100%);
  box-sizing: border-box;
  font-family: "Computer Modern Serif", serif;
  height: 100%;
	margin-bottom: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

/* RESETS HERE
	-------------------------------- */
p {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
}

/* UTILITY
	-------------------------------- */
.section__wrapper {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 25px;
}

h1,
h2,
.headingstyle {
  /* relying on semantic HTML over logical typographic system here */
  font-size: 30px;
  font-weight: normal;
  line-height: 1.1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: #000;
  text-decoration: none;

}

a:hover {
	text-decoration: underline;
}


/* HEADER
	-------------------------------- */
.site__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.site__header__text h1 {
  border-bottom-style: solid;
  border-bottom: 1px solid black;
  max-width: 230px;
  padding-bottom: 10px;
}

.site__header__text p {
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px;
  max-width: 240px;
}

.site__header__logo img {
  height: auto;
  width: 160px;
}

	/* SPINNING FOR LATER
	-webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }




/* BODY SECTION
	-------------------------------- */
.entry {
  display: flex;
  margin-top: 0px;
  margin-bottom: 20px;
}

.entry__number {
  flex-basis: 45px;
	line-height: .8em;
}

.entry__text h2 {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  white-space: wrap;
}

.about__text {
	width: 600px;
}

.entry__text .author,
.entry__text .author__mobile {
	vertical-align: text-bottom;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin-left: 15px;
  padding: 4px 8px;
	margin-bottom: 4px;
}

.entry__text .author__mobile {
  display: none;
  margin-left: 0;
}

.entry__text p {
  max-width: 260px;
	font-size: 14px;
}

/* FOOTER
	-------------------------------- */
.site__footer {
	display: flex
  padding-bottom: 20px;
	margin-top: 40px;
}

.site__footer p {
	flex-basis: 45px;
  margin-bottom: 40px;
	font-size: 24px;
}

/* MOBILE STYLES
  -------------------------------- */
/* Smaller than Desktop: */
@media screen and (max-width: 1025px) {
}
/* Smaller than Laptop: */
@media screen and (max-width: 770px) {


  .entry__text h2 {
    display: block;
  }
  .entry__text .author {
    display: none;
  }
  .entry__text .author__mobile {
    display: inline-block;
    margin-top: 15px;
  }
  .site__header__logo img {
    width: 120px;
  }
}
/* Smaller than Tablet: */
@media screen and (max-width: 480px) {

	.site__header__logo img {
	  display: none;
	}


}
/* LAYOUT */
/* {position:absolute;} */
/* {position:relative;} */
/* {float:left;} */
/* {float:right;} */
/* {overflow:hidden;} */
/* {display:block;} */
/* {display:inline;} */
/* {display:none;} */
/* {margin:0} */
/* {padding:0;} */
/* {width:100%;} */

/* TYPOGRAPHY */
/* {line-height:1;} */
/* {list-style-type:none;} */
/* {font-size:1em;} */
/* {font-style:italic;} */
/* {font-style:normal;} */
/* {font-weight:bold;} */
/* {font-weight:normal;} */
/* {text-align:center;} */
/* {text-align:right;} */
/* {text-align:left;} */
/* {text-decoration:underline;} */
/* {text-decoration:none;} */
/* {text-transform:uppercase;} */
/* {text-transform:none;} */

/* COLOR */
/* {background-color: #fff;} */
/* {background-color: transparent;} */
/* {border: 1px solid #000;} */
/* {border: none;} */
/* {color: #000;} */
/* {border-radius: 0px;} */
/* {transition: all 0.3s ease-in-out;} */

/* BASE
	-------------------------------- */
body {
}
::selection,
::moz-selection {
}

/* HEADER
	-------------------------------- */

/* CONTENT
	-------------------------------- */
.site-content {
}

/* LAYOUT */

/* BASIC ELEMENTS */
div {
}
p {
}
blockquote {
}
code {
}
img {
}
a {
}
em {
}
strong {
}
pre {
}

/* HEADINGS */
h1 {
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 24px;
}
h5 {
}
h6 {
}

/* FORMS & BUTTONS */
form {
}
fieldset {
}
legend {
}
label {
}
input {
}
textarea {
}
select {
}
